.about {
    margin: 2em;
}

.about__info--title {
    text-align: left;
    color: $main-color;
    font-size: 5em;
    font-weight: 300;
}

.about__info--description {
    color: $main-color;
    font-size: 1em;
    text-align: left;
    padding: 1em 0;
    font-weight: 300;
    letter-spacing: 0.2px;
    line-height: 1.5em;
}

.about__image {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
@media(max-width: 960px) {
    .about__content {
        flex-direction: column-reverse;
    }

    .grid-container > .row > .about__image,
    .grid-container > .row > .about__info {
        width: 100%;
        text-align: center;
    }

    .about__info--description,
    .about__info--title {
        text-align: center;
        padding: 2 3em;
    }

    .about__image {
        justify-content: center;
        margin-bottom: 3em;
    }
}

.myImage{
        height: auto; 
        max-width: 100%;
        max-height: 100%;
        width: auto;
}