.education{
      margin-bottom: 2em;

      &__studies{
            margin-bottom: 3;
            box-sizing: border-box;
            padding: 2em;

            &__title{
                  color:  $main-color;
                  font-size: 3em;
                  font-weight: 200;
                  margin-bottom: 1.8em;
                  position: relative;

                   &::before{
                        content: '';
                        width: 38.5px;
                        height: 6px;
                        background-color: #50E3C2;
                        position: absolute;
                        bottom: -15px;
                  }
            }

            &__example{
                  margin-top: 3.5em;
            }
      }

      &__courses{
            box-sizing: border-box;
            padding: 2em;
      }
}

@keyframes bouncing {
    0% {transform: translateY(10px)}
    100% {transform: translateY(0px)}
}

.arrow-more{
      display: flex;
      justify-content: center;
      margin: 5em 0;
      animation: bouncing 0.8s infinite alternate;

      img{
            width: 3%;
            height: 3%;
      }
}

.education__studies__image{
      background-color: $background-color;
      background-image: url("../images/education.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-blend-mode: luminosity;
}

.education__courses__image{
      background-color: $background-color;
      background-image: url("../images/workshops.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-blend-mode: luminosity;
      background-position-x: 40px;
}

@media(max-width: 750px){

      .education__studies, .education__courses{
            flex-direction: column;
      }
      .education__studies__image, .education__courses__image{
            display: block;
      }

      .jobsEducation > .grid-container > .row  > .col-6{
            width: 100%;
      }

      .arrow-more{
            margin: 3em 0;

            img{
                  width: 8%;
                  height: 8%;  
            }
      }
}